Connected Services/Products/products.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch="http://www.udb.edu.sv/api/generated" xmlns:tns="http://www.udb.edu.sv/api/generated" targetNamespace="http://www.udb.edu.sv/api/generated" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.udb.edu.sv/api/generated" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="getProductByIdRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProductByIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Product" type="tns:productInfo" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllProductsRequest">
        <xs:complexType />
      </xs:element>
      <xs:element name="getAllProductsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="products" type="tns:productInfo" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addProductRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="price" type="xs:double" />
            <xs:element name="category" type="xs:string" />
            <xs:element name="description" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addProductResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="processStatus" type="tns:processStatus" />
            <xs:element name="product" type="tns:productInfo" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateProductRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="product" type="tns:productInfo" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateProductResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="processStatus" type="tns:processStatus" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deleteProductRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deleteProductResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="processStatus" type="tns:processStatus" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="processStatus">
        <xs:sequence>
          <xs:element name="StatusCode" type="xs:string" />
          <xs:element name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productInfo">
        <xs:sequence>
          <xs:element name="id" type="xs:int" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="price" type="xs:double" />
          <xs:element name="category" type="xs:string" />
          <xs:element name="description" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="deleteProductResponse">
    <wsdl:part name="deleteProductResponse" element="tns:deleteProductResponse" />
  </wsdl:message>
  <wsdl:message name="addProductResponse">
    <wsdl:part name="addProductResponse" element="tns:addProductResponse" />
  </wsdl:message>
  <wsdl:message name="getProductByIdRequest">
    <wsdl:part name="getProductByIdRequest" element="tns:getProductByIdRequest" />
  </wsdl:message>
  <wsdl:message name="updateProductRequest">
    <wsdl:part name="updateProductRequest" element="tns:updateProductRequest" />
  </wsdl:message>
  <wsdl:message name="addProductRequest">
    <wsdl:part name="addProductRequest" element="tns:addProductRequest" />
  </wsdl:message>
  <wsdl:message name="getAllProductsResponse">
    <wsdl:part name="getAllProductsResponse" element="tns:getAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="updateProductResponse">
    <wsdl:part name="updateProductResponse" element="tns:updateProductResponse" />
  </wsdl:message>
  <wsdl:message name="deleteProductRequest">
    <wsdl:part name="deleteProductRequest" element="tns:deleteProductRequest" />
  </wsdl:message>
  <wsdl:message name="getProductByIdResponse">
    <wsdl:part name="getProductByIdResponse" element="tns:getProductByIdResponse" />
  </wsdl:message>
  <wsdl:message name="getAllProductsRequest">
    <wsdl:part name="getAllProductsRequest" element="tns:getAllProductsRequest" />
  </wsdl:message>
  <wsdl:portType name="productPort">
    <wsdl:operation name="deleteProduct">
      <wsdl:input name="deleteProductRequest" message="tns:deleteProductRequest" />
      <wsdl:output name="deleteProductResponse" message="tns:deleteProductResponse" />
    </wsdl:operation>
    <wsdl:operation name="addProduct">
      <wsdl:input name="addProductRequest" message="tns:addProductRequest" />
      <wsdl:output name="addProductResponse" message="tns:addProductResponse" />
    </wsdl:operation>
    <wsdl:operation name="getProductById">
      <wsdl:input name="getProductByIdRequest" message="tns:getProductByIdRequest" />
      <wsdl:output name="getProductByIdResponse" message="tns:getProductByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateProduct">
      <wsdl:input name="updateProductRequest" message="tns:updateProductRequest" />
      <wsdl:output name="updateProductResponse" message="tns:updateProductResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllProducts">
      <wsdl:input name="getAllProductsRequest" message="tns:getAllProductsRequest" />
      <wsdl:output name="getAllProductsResponse" message="tns:getAllProductsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="productPortSoap11" type="tns:productPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="deleteProduct">
      <soap:operation soapAction="" />
      <wsdl:input name="deleteProductRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteProductResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addProduct">
      <soap:operation soapAction="" />
      <wsdl:input name="addProductRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addProductResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductById">
      <soap:operation soapAction="" />
      <wsdl:input name="getProductByIdRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getProductByIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProduct">
      <soap:operation soapAction="" />
      <wsdl:input name="updateProductRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateProductResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllProducts">
      <soap:operation soapAction="" />
      <wsdl:input name="getAllProductsRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAllProductsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="productPortService">
    <wsdl:port name="productPortSoap11" binding="tns:productPortSoap11">
      <soap:address location="http://localhost:8080/ws" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>